@* Role based sidebar placeholder *@
<aside class="col-md-3">
    <ul class="list-group">
        <li class="list-group-item"><a asp-page="/Index">Home</a></li>
        <li class="list-group-item"><a asp-page="/Doctors/Index">Doctors</a></li>
        <li class="list-group-item"><a asp-page="/Blog/Index">Blogs</a></li>
    </ul>
</aside>
